lightning[pytorch-extra]==2.0.9.post0
pytorch-lightning==2.3.*
splines==0.3.0
plyfile==0.8.1
tensorboard
wandb
tqdm
viser==0.2.3
opencv-python==4.10.*
matplotlib
mediapy==1.2.2
./submodules/diff-gaussian-rasterization
./submodules/simple-knn