*
!.gitignore
!__init__.py
!appearance_model.py
!gaussian_model.py
!gaussian_model_simplified.py
!simplified_gaussian_model_manager.py
!defromable_model.py
!deform_model.py
!vanilla_deform_model.py
!swag_model.py
!gaussian.py
!vanilla_gaussian.py
!appearance_feature_gaussian.py
!appearance_mip_gaussian.py
!gaussian_2d.py
!periodic_vibration_gaussian.py
!mip_splatting.py
!appearance_gs2d.py
!sparse_adam_gaussian.py