*
!.gitignore
!ddp.yaml
!ddp_not_find_unused.yaml
!image_on_gpu.yaml
!image_on_gpu-uint8.yaml
!blender.yaml
!blender_gsplat.yaml
!appearance.yaml
!colmap_exp.yaml
!larger_dataset.yaml
!reorient.yaml
!background_sphere.yaml
!background_sphere-cameras_center-random_background.yaml
!deformable_blender.yaml
!deformable_6dof_blender.yaml
!deformable_blender_rotate_xyz.yaml
!deformable_real.yaml
!deformable_6dof_real.yaml
!gsplat.yaml
!gsplat_v1.yaml
!gsplat_v1-tile_based_culling.yaml
!gsplat_v1-tile_based_culling-selective_adam.yaml
!gsplat_v1-accel.yaml
!gsplat_v1-accel_more.yaml
!gsplat_v1-accel-steerable.yaml
!pypreprocess_gsplat.yaml
!swag_baseline.yaml
!mip_splatting_gsplat_v2.yaml
!mip_splatting_gsplat_v2-blender.yaml
!light_gaussian
!light_gaussian/prune_finetune.yaml
!light_gaussian/prune_finetune-gsplat.yaml
!light_gaussian/prune_finetune-gsplat-experiment.yaml
!light_gaussian/train_densify_prune-gsplat.yaml
!light_gaussian/train_densify_prune-gsplat-experiment.yaml
!gsplat-absgrad.yaml
!gsplat-absgrad-experiment.yaml
!vanilla_2dgs.yaml
!segany_splatting.yaml
!appearance_embedding_renderer
!appearance_embedding_renderer/view_dependent.yaml
!appearance_embedding_renderer/view_independent.yaml
!appearance_embedding_renderer/view_dependent-distributed.yaml
!appearance_embedding_renderer/view_independent-distributed.yaml
!appearance_embedding_renderer/sh_view_dependent.yaml
!appearance_embedding_renderer/sh_view_dependent-128_dims-lr_0.005-with_scheduler.yaml
!appearance_embedding_renderer/sh_view_dependent-lr_0.005-with_scheduler.yaml
!appearance_embedding_renderer/sh_view_dependent-estimated_depth_reg-hard_depth.yaml
!appearance_embedding_renderer/sh_view_dependent-128_dims-lr_0.005-with_scheduler-estimated_depth_reg-hard_depth.yaml
!appearance_embedding_renderer/sh_view_dependent-lr_0.005-with_scheduler-estimated_depth_reg-hard_depth.yaml
!appearance_embedding_renderer/sh_view_dependent-mip.yaml
!appearance_embedding_renderer/distributed-view_independent-128_dims-lr_0.005-with_scheduler-estimated_depth_reg-hard_depth-scale_reg-mip.yaml
!appearance_embedding_renderer/view_independent-2dgs.yaml
!appearance_embedding_renderer/sh_view_dependent-accel.yaml
!appearance_embedding_renderer/sh_view_dependent-normalized-accel.yaml
!appearance_embedding_renderer/sh_view_dependent-normalized-sim_reg-accel.yaml
!appearance_embedding_renderer/snippets
!random_background.yaml
!mcmc.yaml
!gsplat-mcmc.yaml
!feature_3dgs/sam.yaml
!feature_3dgs/sam-speedup.yaml
!feature_3dgs/lseg.yaml
!feature_3dgs/lseg-speedup.yaml
!appearance_embedding_visibility_map_renderer/view_independent-2x_ds.yaml
!appearance_embedding_visibility_map_renderer/view_independent-2x_ds-exp.yaml
!matrixcity
!matrixcity/README.md
!matrixcity/gsplat-aerial.yaml
!matrixcity/gsplat-aerial_street-example.yaml
!matrixcity/gsplat-aerial_street-depth_reg-example.yaml
!distributed.yaml
!distributed-accel.yaml
!pvg_dynamic.yaml
!spot_less_splats
!depth_regularization
!depth_regularization/estimated_inverse_depth-l1.yaml
!depth_regularization/estimated_inverse_depth-l1_ssim.yaml
!depth_regularization/estimated_inverse_depth-normalized-l1.yaml
!depth_regularization/estimated_inverse_depth-hard_depth-l1.yaml
!depth_regularization/estimated_inverse_depth-hard_depth-l1_ssim.yaml
!depth_regularization/estimated_inverse_depth-l2.yaml
!depth_regularization/estimated_inverse_depth-alternating-l1-accel.yaml
!stp
!stp/baseline.yaml
!scale_reg.yaml
!taming_3dgs
!taming_3dgs/README.md
!taming_3dgs/rasterizer.yaml
!taming_3dgs/rasterizer-fused_ssim.yaml
!taming_3dgs/rasterizer-fused_ssim-aa.yaml
!taming_3dgs/rasterizer-fused_ssim-sparse_adam.yaml
!taming_3dgs/rasterizer-fused_ssim-sparse_adam-aa.yaml
!taming_3dgs/fused_ssim.yaml
!fused_ssim.yaml
