*
!.gitignore
!ddp.yaml
!ddp_not_find_unused.yaml
!image_on_gpu.yaml
!blender.yaml
!blender_gsplat.yaml
!appearance.yaml
!colmap_exp.yaml
!larger_dataset.yaml
!reorient.yaml
!background_sphere.yaml
!background_sphere-cameras_center-random_background.yaml
!deformable_blender.yaml
!deformable_6dof_blender.yaml
!deformable_blender_rotate_xyz.yaml
!deformable_real.yaml
!deformable_6dof_real.yaml
!gsplat.yaml
!pypreprocess_gsplat.yaml
!swag_baseline.yaml
!mip_splatting_gsplat.yaml
!light_gaussian
!light_gaussian/prune_finetune.yaml
!light_gaussian/prune_finetune-gsplat.yaml
!light_gaussian/prune_finetune-gsplat-experiment.yaml
!light_gaussian/train_densify_prune-gsplat.yaml
!light_gaussian/train_densify_prune-gsplat-experiment.yaml
!gsplat-absgrad.yaml
!gsplat-absgrad-experiment.yaml
!vanilla_2dgs.yaml
!segany_splatting.yaml
!appearance_embedding_renderer/view_dependent.yaml
!appearance_embedding_renderer/view_independent.yaml
!appearance_embedding_renderer/view_dependent-distributed.yaml
!appearance_embedding_renderer/view_independent-distributed.yaml
!random_background.yaml
!mcmc.yaml
!gsplat-mcmc.yaml
!feature_3dgs/sam.yaml
!feature_3dgs/sam-speedup.yaml
!feature_3dgs/lseg.yaml
!feature_3dgs/lseg-speedup.yaml
!appearance_embedding_visibility_map_renderer/view_independent-2x_ds.yaml
!appearance_embedding_visibility_map_renderer/view_independent-2x_ds-exp.yaml
!matrixcity
!matrixcity/README.md
!matrixcity/gsplat-aerial.yaml
!matrixcity/gsplat-aerial_street-example.yaml
!matrixcity/gsplat-aerial_street-depth_reg-example.yaml
!distributed.yaml
!pvg_dynamic.yaml
!spot_less_splats
!depth_regularization
!depth_regularization/estimated_inverse_depth-l1.yaml
!depth_regularization/estimated_inverse_depth-l1_ssim.yaml
!depth_regularization/estimated_inverse_depth-normalized-l1.yaml
!depth_regularization/estimated_inverse_depth-hard_depth-l1.yaml
!depth_regularization/estimated_inverse_depth-hard_depth-l1_ssim.yaml
!depth_regularization/estimated_inverse_depth-l2.yaml