*
!.gitignore
!__init__.py
!renderer.py
!vanilla_renderer.py
!appearance_mlp_renderer.py
!rgb_mlp_renderer.py
!deformable_renderer.py
!vanilla_deformable_renderer.py
!vanilla_gs4d_renderer.py
!gsplat_renderer.py
!gsplat_v1_renderer.py
!pypreprocess_gsplat_renderer.py
!swag_renderer.py
!mip_splatting_gsplat_renderer.py
!gsplat_mip_splatting_renderer_v2.py
!gsplat_hit_pixel_count_renderer.py
!vanilla_2dgs_renderer.py
!seganygs_renderer.py
!gsplat_appearance_embedding_renderer.py
!feature_3dgs_renderer.py
!gsplat_appearance_embedding_visibility_map_renderer.py
!gsplat_distributed_renderer.py
!gsplat_distributed_appearance_embedding_renderer.py
!periodic_vibration_gaussian_renderer.py
!partition_lod_renderer.py
!stp_renderer.py
!appearance_2dgs_renderer.py
!taming_3dgs_renderer.py